#distributome\.editXML
{
	display: none; 
	padding: 0px;
	margin: 0px;
}

.tabs {
  position: relative;
  min-height: 330px; 
  clear: both;
  margin: 8px 0;
}

.tab {
  float: left;
}

.tab label {
  background: #eee;
  padding: 10px;
  border: 1px solid #ccc;
  margin-left: -1px;
  position: relative;
  left: 1px;
  cursor: pointer;
}

.tab [type=radio] {
  display: none;
}

.content {
  position: absolute;
  top: 30px;
  left: 0;
  background: white;
  right: 0;
  bottom: 0;
  padding: 20px;
  border-top: 1px solid #ccc;
  overflow: auto;
}

[type=radio]:checked ~ label {
  background: white;
  border-bottom: 1px solid white;
  z-index: 2;
}

[type=radio]:checked ~ label ~ .content {
  z-index: 1;
}

.button {
	text-decoration: underline;
	cursor: pointer;
}

.buttons {
	text-align: right;
	position: absolute;
	padding: 0 20px;
	width: 280px;
	bottom:10px;
}

.buttons span {
	float: left;
}

#dialog-add
{
	width: 450px;
	display: none;
}

#dialog-add ul, #dialog-add li
{
	margin: 0px;
	padding: 0px;
}

#dialog-add ul
{
	list-style: none;
}

#dialog-add li
{
	clear: both;
	padding-left: 10px;
	margin: 10px 0px;
}

#dialog-add li label
{
	width: 100px;
	display: inline-block;
	float: left;
	text-align: left;
}

#dialog-add ul li img#captcha
{
	margin-left: 140px;
	margin-right: 10px;
	border: 1px solid #999;
}

#dialog-add ul li a
{
	vertical-align: top;
}

 #dialog-add #response
{
	float: left;
	font-size: 11px;
	padding-left: 10px;
}
